name: Publish pre-release

on:
    push:
        branches:
            - mod
        tags:
            - 'v*.*.*'
    workflow_dispatch:

jobs:
    publish:
        name: Publish pre-release
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
            - name: Setup pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 10
            - name: Install
              run: pnpm install
            - name: Apply pre-release patch
              run: pnpm run patch-pre
            - name: Setup Environment
              run: node -e "console.log('PACKAGE_VERSION=' + require('./package.json').version + '\nPACKAGE_NAME=' + require('./package.json').name + '-' + require('./package.json').version)" >> $GITHUB_ENV
            - name: Package extension
              run: pnpm run package --pre-release
            - name: Create GitHub pre-release
              uses: softprops/action-gh-release@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: v${{ env.PACKAGE_VERSION }}
                  name: v${{ env.PACKAGE_VERSION }} (Pre-release)
                  draft: false
                  prerelease: true
                  files: ./${{ env.PACKAGE_NAME }}.vsix
            - name: Publish artifact
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ env.PACKAGE_NAME }}.vsix
                  path: ./${{ env.PACKAGE_NAME }}.vsix
